body {
  background: #5E412F;
}
h1 {
    text-align: center;
}
div.container {
  background: #FCEBB6;
  margin: 5%;
  padding: 5% 5%;
  border: 5px solid #F07818;
}
.column {
  margin-left: auto;
  margin-right: auto;
}
.btn {
  background: #78C0A8;
}
